### Laden der Datensätze

In [1]:
import pandas as pd
# Pfad zur CSV-Datei das Später erstellt wird
train = pd.read_csv("train_engineered.csv")
test = pd.read_csv("test_engineered.csv")

In [2]:
test.head(2)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Ticket,Fare,Sex,SurnameID,AverageSurvivalRate,Surname_encoded,Embarked_encoded,Speech_encoded
0,892,2.0,3,34.5,0,0,330911,7.8292,1,262,-1.0,401,1,12
1,893,2.0,3,47.0,1,0,363272,7.0000,0,667,-1.0,846,2,13

In [3]:
train.head(2)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Ticket,Fare,Sex,SurnameID,AverageSurvivalRate,Surname_encoded,Embarked_encoded,Speech_encoded
0,1,0.0,3,22.0,1,0,A/5 21171,7.2500,1,0,0.0,100,2,12
1,2,1.0,1,38.0,1,0,PC 17599,71.2833,0,1,1.0,182,0,13

### Modell