### Imports

In [30]:
import pandas as pd
from pathlib import Path

### Load Dataset

In [31]:
data_path = Path.cwd()

# Pfad zur CSV-Datei das Später erstellt wird
test_truth = pd.read_csv(data_path/'../csv/ground_truth/test_truth.csv')
test_truth.head()

,pclass,survived,Name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,mergeindex,PassengerId
0,3,0,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S,"Abbott, Master. Eugene Joseph_C.A. 2673",1284
1,3,1,"Abelseth, Miss. Karen Marie",female,16.0,0,0,348125,7.6500,NaN,S,"Abelseth, Miss. Karen Marie_348125",1237
2,3,1,"Abelseth, Mr. Olaus Jorgensen",male,25.0,0,0,348122,7.6500,F G63,S,"Abelseth, Mr. Olaus Jorgensen_348122",949
3,3,1,"Abrahamsson, Mr. Abraham August Johannes",male,20.0,0,0,SOTON/O2 3101284,7.9250,NaN,S,"Abrahamsson, Mr. Abraham August Johannes_SOTON...",1143
4,3,1,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)_2657",900

In [32]:
prediction = pd.read_csv(data_path/'../csv/submission_test.csv')
prediction.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [33]:
print(len(prediction))

418

### Test Predictions

In [34]:
# Überprüfen, ob alle PassengerId des Prediction-Datensatzes auch im Hauptdatensatz vorhanden sind
prediction_in_main = prediction['PassengerId'].isin(test_truth['PassengerId'])

# Berechne die Prozentzahl der richtig vorhergesagten Überlebenden, basierend auf den verfügbaren Daten
# Da die Beispieldaten keine Überschneidung der PassengerId zeigen, wird dieser Schritt in Realität abhängig von der tatsächlichen Überschneidung durchgeführt.
if prediction_in_main.any():
    # Finden der gemeinsamen PassengerIds
    common_ids = prediction[prediction_in_main]
    # Berechnen der Treffergenauigkeit (Accuracy)
    accuracy = common_ids.merge(test_truth, on='PassengerId', how='left')
    correct_predictions = accuracy[accuracy['survived'] == accuracy['Survived']].shape[0]
    total_predictions = common_ids.shape[0]
    prediction_accuracy = (correct_predictions / total_predictions) * 100
    print(f"Prozentzahl der richtig predicteten Vorhersagen: {prediction_accuracy}%") 
else:
    print("Keine PassengerId des Prediction-Datensatzes ist im Hauptdatensatz vorhanden.")

Prozentzahl der richtig predicteten Vorhersagen: 74.4019138755981%